<div id="items">
	<table cellspacing="30" class="border-spacing-x-2 border-spacing-y-3 border-separate mb-4">
		{% for item in items %}
		<tr>
			<td class="min-w-12"><button class="p-2 bg-white text-black rounded-full"
					hx-post="/collect?op=decrement" hx-trigger="click"
					hx-vals='{ "name" : "{{item.name}}" }' hx-target="closest #items"
					hx-swap="outerHTML">{{ item.count }}</button></td>
			<td class="min-w-20">{{ item.name }}</td>
			<td><button class="p-2 bg-white text-black rounded-full text-sm" hx-post="/collect?op=reset"
					hx-trigger="click" hx-vals='{ "name": "{{item.name}}" }' hx-target="closest #items"
					hx-swap="outerHTML">Reset</button></td>
		</tr>
		{% else %}
		<tr>
			<td>
				<p>All clothes that have been submitted have been accounted for.</p>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan=4>
				<p class="text-rose-400 ml-2 text-xl font-bold"><span id="error"></span></p>
			</td>
		</tr>
	</table>
</div>
