<div id="items">
	<table cellspacing="30" class="border-spacing-x-2 border-spacing-y-1 border-separate mb-7">
		{% for item in items %}
		<tr>
			<td><button class="p-2 bg-white text-black rounded-full" hx-post="/new?op=decrement"
					hx-trigger="click" hx-include="next input" hx-target="closest #items"
					hx-swap="outerHTML">-</button></td>
			<td class="p-2 bg-white text-black rounded-full">{{ item.amt }}</td>
			<td><button class="p-2 bg-white text-black rounded-full" hx-post="/new?op=increment"
					hx-trigger="click" hx-include="next input" hx-target="closest #items"
					hx-swap="outerHTML">+</button></td>
			<td><input class="text-black p-2 rounded-full" hx-post="/new?op=change"
					hx-trigger="keyup changed delay:750ms,keyup[which===13]"
					hx-target-error="#error" hx-target="closest #items" hx-swap="outerHTML"
					name="{{ item.name }}" value="{{ item.name }}" /><br /></td>
		</tr>
		{% else %}
		<tr>
			<td>
				<p>Add clothes by pressing the + button.</p>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan=4>
				<p class="text-rose-400 ml-2 text-xl font-bold "><span id="error"></span></p>
			</td>
		</tr>
		<tr>
			<td colspan=4 align=center>
				<button class="mb-4 border-indigo-200 hover:text-gray-900 bg-gray-900 transition duration-300 hover:bg-indigo-200 border-2 px-2 py-1 rounded-3xl"
					hx-post="/new?op=new" hx-trigger="click" hx-target="#items"
					hx-target-error="#error" hx-swap="outerHTML">+</button>
			</td>
		</tr>
	</table>
</div>
